.cuerpo {
    width: 98%;
    height: auto;
    margin: 2px 2px 2px 2px;
    background-color: white;
    float: left;
}

.registro {
    background-color: #91fff7;
    width: 24%;
    height: auto;
    float: left;
    border: 1px solid;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
}

.imagen {
    width: 125px;
    height: 70px;
    float:left;
    border: 5px solid;
    margin: 5px;
}

.enlace {
    text-align: center;
}

/*.agrega {
    background-color: #91fff7;
    width: 70%;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
}

    .agrega div {
        width: 34%;
        height: auto;
        padding: 5px 5px 0px 0px;
        float: left;
    }*/
